<phpunit bootstrap="vendor/autoload.php">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">actions/</directory>
            <directory suffix=".php">helpers/</directory>
            <directory suffix=".php">models/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Unit">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
