/*
    Document   : variables
    Created on : 8 nov. 2013, 13:54:51
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Stylesheet of the QTI Test creator
*/

//import Compass mixins (http://compass-style.org/reference) 
@import "compass";
@import "compass/css3/shared";
@import "compass/css3/box";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

//import files
@import "../cards/variables.scss";
@import "../cards/base.scss";

#items .listbox{
    margin-top: .5em;
}

#test-creator {
    #test-properties, #items{
        width: 25%;
    }
    
    #items > .toggler{
        vertical-align: middle;
    }
    
    #test-sections {
         width: 46%;
        .option-toggler {
            &:before {
                @include jui-icon( (-192px), (-112px) );
            }
        }
        .show-rubricblock{
            &:before {
                @include jui-icon( (-32px), (-96px) );
            }
        }
        .hide-rubricblock{
            &:before {
                @include jui-icon( 0, (-64px), white);
            }
        }
        
       .section, .section-back {
            position: relative;
            margin:.4em .2em;
            border: dashed 1px #ccc; 
            background-color: #fff;
            padding: .5em;
            z-index: 0;
            cursor: inherit;
            width: 100%;
            min-height: 300px;
            &:before{
                background: none;
                content: inherit;
            }
        }
        .section {
           
            
            h2 {
                margin: 0;
            }
            
            .closer, .ref-into, .mv-into, .sort{
                position: absolute;
                top: .5em;
            }
            
            .closer {
                right: .5em;
            }
/*            .ref-into {
                right: 2.5em;
                cursor: move;
                &:before{
                    @include jui-icon( (-48px), (-80px) );
                }
            }
            .mv-into {
                right: 4.5em;
                cursor: move;
                &:before{
                     @include jui-icon( (-32px), (-80px) );
                }
            }*/
            .sort {
                //right: 6em;
                right: 2.5em;
                cursor: move;
                &:before{
                    @include jui-icon( (-128px), (-48px) );
                }
            }
            
            & > ul {
                min-height: 150px;
                position: relative;
                z-index: 0;
                padding-right: 3em;
                margin-top: .5em;
                
                li {
                    .title {
                        margin-left : 1.7em;
                    }
                    .label {
                        border-radius: 3px;
                        right: inherit;
                        top: .2em;
                    }
                    .button-group {
                       top:.2em;
                    }
                    .closer {
                        top:.2em;
                    }

                    &.section-ref {
                        background-color: #ccc;
                    }
                }
        
            }
            .shuffle {
                @include jui-icon( (-80px), (-80px), white );
            }
            .fix {
                @include jui-icon( (-144px), (-144px), white );
            }
        }
    }
}