@font-face {
	font-family: 'testRunner';
	src:url('fonts/testRunner.eot?-c4rutm');
	src:url('fonts/testRunner.eot?#iefix-c4rutm') format('embedded-opentype'),
		url('fonts/testRunner.woff?-c4rutm') format('woff'),
		url('fonts/testRunner.ttf?-c4rutm') format('truetype'),
		url('fonts/testRunner.svg?-c4rutm#testRunner') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'testRunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.qti-navigator {
	border-right: 1px solid;
	float: left;
	font-size: 12px;
	padding: 8px;
	width: 200px;
}
.qti-navigator ul{
	list-style: none;
	padding: 0;
}
.qti-navigator-info {
}
.qti-navigator-info ul li {
    padding-left: 20px;
    position: relative;
}
.qti-navigator-info ul li span{
    left: 0;
    position: absolute;
}
.qti-navigator-info ul li i{
    float: right;
    font: .9em Verdana,Geneva,sans-serif;
}

.qti-navigator-parts ul{
	background: rgba(0, 0, 0, .04);
	border-bottom: 1px solid rgba(0, 0, 0, .07);
	padding: 7px;
	text-align: center
}
.qti-navigator-parts ul .first{
	border: none;
	line-height: 20px;
	margin: 0 5px 0 -15px;
	padding: 0 !important;
}
.qti-navigator-parts ul li{
	display: inline;
	padding: 0 8px;
}
.qti-navigator-parts ul li:not(.first){
    font-family: Verdana,Geneva,sans-serif;
	margin-left: -1px;
	text-align: center;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0;
	cursor: pointer;
	border: 1px solid #bbb;
	overflow: visible;
	text-decoration: none;
	white-space: nowrap;
	color: #555;
	background-color: #ddd;
	background-image: linear-gradient(top, rgba(255,255,255,1),
										   rgba(255,255,255,0)),
					  url(data:image/png;base64,iVBORw0KGg[...]QmCC);
	transition: background-color .2s ease-out;
	background-clip: padding-box; /* Fix bleeding */
	box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
				0 1px 2px -1px rgba(0, 0, 0, .5),
				0 1px 0 rgba(255, 255, 255, .3) inset;
}
.qti-navigator-parts ul li.active{
	background: #e9e9e9;
	padding-top: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset;
}
.qti-navigator-parts .parts-1 {
	display: none
}
.qti-navigator-parts .parts-2 li{
	padding: 2px 20px;
}
.qti-navigator-parts .parts-3 li{
	padding: 2px 14px;
}

.qti-navigator-section {
	margin-bottom: 5px
}
.qti-navigator-section .title{
    color:#fff;
    cursor: pointer;
    padding: 3px 0 3px 22px;
    position: relative;
    background:#307fc1;
    background:-webkit-linear-gradient(top, #3582c6 0%,#266d9c 100%);
    background: -moz-linear-gradient(top, #3582c6 0%, #266d9c 100%); /* FF3.6+ */
    background: -o-linear-gradient(top, #3582c6 0%,#266d9c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3582c6 0%,#266d9c 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3582c6', endColorstr='#266d9c',GradientType=0 ); /* IE6-9 */
}
.qti-navigator .counter{
    font-family: Verdana,Geneva,sans-serif;
    font-size: .9em;
}
.qti-navigator-section .title i{
    float: right;
    margin-right: 5px;
    font-style: normal;
}
.qti-navigator-section img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
	
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
	
}

.qti-navigator-section .items{
    border: 1px solid;
    overflow: hidden;
    display: none;
    padding: 4px 5px 5px;
    border-top: none;
}

.qti-navigator-section.open img {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.qti-navigator-item{
    color: #707070;
    cursor: pointer;
}
.qti-navigator-item .icon-unanswered:before {
    color: #707070;
}
.qti-navigator-item.active{
    background-color: rgba(209,227,237,0.5);
    margin: 0 -5px 0 -5px;
    padding: 2px 0 4px 5px;
    color: #000;
}
.qti-navigator-item.active .icon-unanswered:before {
    color: #000000
}

.qti-navigator-item.active span:before{}
.qti-navigator-item:hover{
    color: #000000;
}
.qti-navigator-item span{
    margin-right: 4px;
    font-size: 7px;
}

.qti-navigator-item.answered{
    color: #aaa;
    cursor: default;
}
.qti-navigator-item.answered:hover{
    color: #aaa;
}
.qti-navigator-item .icon-unanswered:before {
	color: #707070
}
.qti-navigator-item:hover .icon-unanswered:before {
    color: #000000
}

.icon-unanswered:before {
	content: "\e6a6";
}
.icon-skipped:before {
	content: "\e600";
}
.icon-answered:before {
	content: "\e601";
}
.icon-active:before {
	content: "\e602";
}
