.disable-scroll {
  overflow: hidden;
  height: 100%;
}

.hider-content-mask {
  background-color: #ffffff;
  display: table;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .hider-content-mask-inner {
    display: table-cell;
    vertical-align: middle;

    p {
      font-size: 14pt;
      text-align: center;
    }
  }
}