.line-reader-mask {
    box-sizing: border-box;
    border: 0 solid $textColor;

    background-color: white;
    opacity: 0.5;
}

.line-reader-overlay {
    background-color: yellow;
    opacity: 0.5;
}