$lrThinBorder: 1px;
$lrThickBorder: 2px; // this mirrors the visualGuides.borderWidth JS variable
$lrBorderColor: $textColor;
$lrMaskBg: #ffffff;

@mixin resizableBorder($edge) {
    &.border-#{$edge} {
        border-#{$edge}-width: $lrThinBorder;
        &.resizing {
            border-#{$edge}-width: $lrThickBorder;
        }
    }
}

.line-reader-mask {
    box-sizing: border-box;
    border: 0 solid $lrBorderColor;
    background-color: $lrMaskBg;

    &.hidden {
        display: none;
    }

    &.resizing {
        background-color: rgba($lrMaskBg, 0.7);
    }

    @include resizableBorder('top');
    @include resizableBorder('right');
    @include resizableBorder('bottom');
    @include resizableBorder('left');
}


.line-reader-overlay {
    box-sizing: border-box;
    opacity: 0;

    &.hidden {
        display: none;
    }

    &.moving, .inner-window {
        overflow: hidden;
        position: absolute;
        opacity: 1;
        background-color: transparent;
        border: $lrThickBorder solid $lrBorderColor;
    }

    .inner-window {
        box-sizing: content-box;
    }

    // the actual white transparent background is actually made of a border
    .mask-bg {
        box-sizing: border-box;
        border: 0 solid rgba($lrMaskBg, 0.7);
        background-color: transparent;
        position: absolute;
    }
}

