$lrBorderWidth: 1px; // this mirrors the visualGuides.borderWidth JS variable
$lrBorderColor: $textColor;
$lrMaskBg: #ffffff;
$lrMaskBgTransparent: rgba($lrMaskBg, 0.8);

.line-reader-mask {
    box-sizing: border-box;
    border: 0 solid $lrBorderColor;
    background-color: $lrMaskBg;

    &.hidden {
        display: none;
    }

    &.resizing {
        background-color: $lrMaskBgTransparent;
    }

    &.border-top     { border-top-width: $lrBorderWidth; }
    &.border-right   { border-right-width: $lrBorderWidth; }
    &.border-bottom  { border-bottom-width: $lrBorderWidth; }
    &.border-left    { border-left-width: $lrBorderWidth; }
}


.line-reader-overlay {
    box-sizing: border-box;
    opacity: 0;

    &.hidden {
        display: none;
    }

    &.moving, .inner-window {
        overflow: hidden;
        position: absolute;
        opacity: 1;
        background-color: transparent;
        border: $lrBorderWidth solid $lrBorderColor;
    }

    .inner-window {
        box-sizing: content-box;
    }

    // the actual white transparent background is actually made of a border
    .mask-bg {
        box-sizing: border-box;
        border: 0 solid $lrMaskBgTransparent;
        background-color: transparent;
        position: absolute;
    }
}

.line-reader-inner-drag {
    background-color: whiten($textColor, 0.85);
    &:hover {
        background-color: whiten($textColor, 0.6);
    }
    @include border-radius(3);
}