/*
    Document   : cards
    Created on : 9 oct. 2013, 10:58:45
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Aggregate all the cards styles

    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
    Document   : variables
    Created on : 8 oct. 2013, 16:04:51
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Variables used to change the theme (as far as possible)
*/
/*
    Document   : base
    Created on : 8 oct. 2013, 11:16:34
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
    Provides mixins and base style (link colors, etc.)
    
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/*
 * Mixins
 */
/*
 * Base Style
 */
/* line 87, ../../sass/cards/_base.scss */
.card {
  font-size: 1em;
  color: #333333;
  background-color: white;
}
/* line 77, ../../sass/cards/_base.scss */
.card ::-moz-focus-inner, .card :active, .card :focus, .card ::-moz-focus-inner {
  outline: none;
  -moz-outline-style: none;
}

/* line 96, ../../sass/cards/_base.scss */
.card a {
  color: #333333;
  text-decoration: none;
  font-size: 1em;
}
/* line 100, ../../sass/cards/_base.scss */
.card a:hover {
  color: #d00239;
}

/* line 105, ../../sass/cards/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: solid 1px #eeeeee;
  margin: 1em 0;
  padding: 0;
}

/* line 77, ../../sass/cards/_base.scss */
.actions ::-moz-focus-inner, .actions :active, .actions :focus, .actions ::-moz-focus-inner {
  outline: none;
  -moz-outline-style: none;
}

/*
    Document   : layout
    Created on : 8 oct. 2013, 16:17:01
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Layout stylesheet
*/
/* line 9, ../../sass/cards/_layout.scss */
.nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5% 1% 0.5% 0.5%;
}

/* line 14, ../../sass/cards/_layout.scss */
.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-width: 250px;
  color: #333;
  width: 32%;
  margin: 0 0.5%;
}
/* line 24, ../../sass/cards/_layout.scss */
.card > h1 {
  background-color: #eee;
  border: solid 1px #eee;
  padding: .5em;
  color: #d00239;
  font-size: 1em;
  font-weight: bolder;
  display: block;
  position: relative;
}
/* line 35, ../../sass/cards/_layout.scss */
.card .content {
  position: relative;
  border: solid 1px #eee;
  padding: .5em 2em .5em .5em;
  margin-top: .5em;
  min-height: 200px;
}
/* line 42, ../../sass/cards/_layout.scss */
.card .content > div {
  margin: .1em 0;
}
/* line 46, ../../sass/cards/_layout.scss */
.card .content > .help {
  position: absolute;
  top: .5em;
  right: 0;
  background-color: #d00239;
  color: #fff;
  margin-right: -10px;
  padding: .2em .4em;
  min-width: 18px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0 2px 4px #888;
  z-index: 600;
}
/* line 61, ../../sass/cards/_layout.scss */
.card .content > .help:after {
  border-color: #666666 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #666666;
  border-style: solid;
  border-width: 3px 5px;
  content: " ";
  height: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
}
/* line 73, ../../sass/cards/_layout.scss */
.card .content > .help a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* line 79, ../../sass/cards/_layout.scss */
.card .content > .help span {
  display: none;
}

/*
    Document   : components
    Created on : 8 oct. 2013, 11:16:52
    Author     : Bertrand Chevrier <bertrand@taotesting.com>
    Description:
        Contains style related to components
*/
/* line 9, ../../sass/cards/_components.scss */
.card {
  /* Labels */
  /* States */
  /*
   * Components
   */
  /* ListBox  */
  /* toggler */
  /* Adder */
  /* Disabler */
  /* Closer */
  /* Incrementer */
  /* InPlacer */
  /* Flipper */
}
/* line 12, ../../sass/cards/_components.scss */
.card .label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 0;
  display: inline-block;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
  padding: .3em .4em;
}
/* line 21, ../../sass/cards/_components.scss */
.card .label.small {
  font-size: .9em;
  padding: .2em .3em;
}
/* line 28, ../../sass/cards/_components.scss */
.card .active {
  border: dashed 1px #d00239 !important;
}
/* line 31, ../../sass/cards/_components.scss */
.card .valid {
  border: dashed 1px #009933 !important;
}
/* line 34, ../../sass/cards/_components.scss */
.card .placeholder {
  border: dashed 1px #333 !important;
  min-height: 2em;
}
/* line 38, ../../sass/cards/_components.scss */
.card .ui-draggable {
  cursor: move;
}
/* line 40, ../../sass/cards/_components.scss */
.card .ui-draggable:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -224px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 44, ../../sass/cards/_components.scss */
.card .ui-sortable > * {
  cursor: move;
}
/* line 46, ../../sass/cards/_components.scss */
.card .ui-sortable > *:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -128px -48px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 59, ../../sass/cards/_components.scss */
.card ul.listbox {
  margin: .1em 0;
  padding: 0;
  list-style-type: none;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 66, ../../sass/cards/_components.scss */
.card ul.listbox > li {
  white-space: no-wrap;
  position: relative;
  min-width: 75%;
  border: solid 1px #cccccc;
  border-bottom-width: 0;
  vertical-align: top;
  margin: 0;
  padding: .2em 2em .2em .2em;
  background-color: #fafafa;
  height: 1.8em;
}
/* line 78, ../../sass/cards/_components.scss */
.card ul.listbox > li > .label {
  position: absolute;
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
/* line 85, ../../sass/cards/_components.scss */
.card ul.listbox > li > [data-button-group] {
  position: absolute;
  right: 2em;
}
/* line 90, ../../sass/cards/_components.scss */
.card ul.listbox > li:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 94, ../../sass/cards/_components.scss */
.card ul.listbox > li:last-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-width: 1px;
}
/* line 99, ../../sass/cards/_components.scss */
.card ul.listbox > li.placeholder {
  background: none;
  margin: .5em;
  opacity: 0.6;
}
/* line 110, ../../sass/cards/_components.scss */
.card .toggler:hover {
  color: #d00239;
}
/* line 114, ../../sass/cards/_components.scss */
.card .toggler:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px 0;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 118, ../../sass/cards/_components.scss */
.card .toggler.opened:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 124, ../../sass/cards/_components.scss */
.card .toggled {
  display: none;
}
/* line 130, ../../sass/cards/_components.scss */
.card .adder:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -16px -128px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 133, ../../sass/cards/_components.scss */
.card .adder:hover:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -32px -128px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 143, ../../sass/cards/_components.scss */
.card .disabled, .card *:disabled {
  cursor: default;
  background-color: #ccc;
  color: #666;
}
/* line 151, ../../sass/cards/_components.scss */
.card .closer:before {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -32px -192px;
  width: 16px;
  height: 16px;
  content: ' ';
}
/* line 156, ../../sass/cards/_components.scss */
.card [data-button-group] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  padding: 0;
  display: inline-block;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;
}
/* line 164, ../../sass/cards/_components.scss */
.card [data-button-group] > a {
  float: left;
  border: none;
  margin: 0;
  cursor: pointer;
  padding: .2em .4em;
  border-width: 0 !important;
  border-right: solid 1px #999;
}
/* line 173, ../../sass/cards/_components.scss */
.card [data-button-group] > a.icon {
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  padding: .1em;
}
/* line 180, ../../sass/cards/_components.scss */
.card [data-button-group] > a:last-child {
  border-right-width: 0;
}
/* line 183, ../../sass/cards/_components.scss */
.card [data-button-group] > a.active {
  background-color: #e90240;
  opatcity: 0.6;
}
/* line 193, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer {
  width: 30px;
  text-align: right;
}
/* line 196, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl {
  display: inline-block;
  margin: 0 .5em 0 0;
  padding-left: 4px;
}
/* line 200, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a {
  width: 16px;
}
/* line 202, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.inc {
  margin-top: -3px;
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 205, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.inc:hover, .card input[type="text"].incrementer ~ .incrementer-ctrl > a.inc:focus, .card input[type="text"].incrementer ~ .incrementer-ctrl > a.inc:active {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 210, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.inc.disabled {
  background-color: transparent !important;
  opacity: 0.5;
}
/* line 217, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.dec {
  margin-top: -2px;
  margin-left: -1px;
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_888888_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 221, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.dec:hover, .card input[type="text"].incrementer ~ .incrementer-ctrl > a.dec:focus, .card input[type="text"].incrementer ~ .incrementer-ctrl > a.dec:active {
  background-image: url("../../../../tao/views/css/custom-theme/images/ui-icons_cd0a0a_256x240.png");
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -64px -16px;
  width: 16px;
  height: 16px;
  content: ' ';
  display: block;
  height: 12px;
}
/* line 226, ../../sass/cards/_components.scss */
.card input[type="text"].incrementer ~ .incrementer-ctrl > a.dec.disabled {
  background-color: transparent  !important;
  opacity: 0.5;
}
/* line 238, ../../sass/cards/_components.scss */
.card [data-in-place], .card .inplace {
  cursor: pointer;
}
/* line 240, ../../sass/cards/_components.scss */
.card [data-in-place] input, .card .inplace input {
  cursor: auto;
}
/* line 243, ../../sass/cards/_components.scss */
.card [data-in-place]:hover, .card .inplace:hover {
  color: #d00239;
}
/* line 249, ../../sass/cards/_components.scss */
.card .flip {
  overflow: hidden;
}
/* line 252, ../../sass/cards/_components.scss */
.card .flip-back {
  background-color: #ddd !important;
  display: none;
}

/* Actions bar */
/* line 259, ../../sass/cards/_components.scss */
.nav {
  position: relative;
}
/* line 263, ../../sass/cards/_components.scss */
.nav h1, .nav h2, .nav h3, .nav h4, .nav h5 {
  margin: 0;
  display: inline-block;
}
/* line 268, ../../sass/cards/_components.scss */
.nav .actions {
  margin: 0;
  position: absolute;
  top: 0;
}
/* line 273, ../../sass/cards/_components.scss */
.nav .actions.right {
  right: 0;
}

/*
 * Forms and actions
 */
/* line 283, ../../sass/cards/_components.scss */
.card, .nav {
  /* Form layout */
  /* Inputs */
  /* search input */
}
/* line 286, ../../sass/cards/_components.scss */
.card .form-group, .nav .form-group {
  padding: .5em;
}
/* line 289, ../../sass/cards/_components.scss */
.card .form-group > label, .nav .form-group > label {
  width: 30%;
  float: left;
}
/* line 294, ../../sass/cards/_components.scss */
.card .form-group > div, .nav .form-group > div {
  margin-left: 30%;
}
/* line 298, ../../sass/cards/_components.scss */
.card .form-group > label.after, .nav .form-group > label.after {
  float: none;
}
/* line 302, ../../sass/cards/_components.scss */
.card .form-group .form-info, .nav .form-group .form-info {
  font-size: .9em;
  color: #555;
}
/* line 309, ../../sass/cards/_components.scss */
.card input[type=text], .card textarea, .nav input[type=text], .nav textarea {
  color: #333333;
  background-color: white;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  border: solid 1px #ccc;
  height: 1.8em;
  vertical-align: top;
  margin: 0;
  padding: .1em;
  width: 150px;
}
/* line 320, ../../sass/cards/_components.scss */
.card input[type=text].micro, .card textarea.micro, .nav input[type=text].micro, .nav textarea.micro {
  width: 30px;
}
/* line 323, ../../sass/cards/_components.scss */
.card input[type=text].mini, .card textarea.mini, .nav input[type=text].mini, .nav textarea.mini {
  width: 60px;
}
/* line 326, ../../sass/cards/_components.scss */
.card input[type=text].small, .card textarea.small, .nav input[type=text].small, .nav textarea.small {
  width: 90px;
}
/* line 329, ../../sass/cards/_components.scss */
.card input[type=text].big, .card textarea.big, .nav input[type=text].big, .nav textarea.big {
  width: 200px;
}
/* line 332, ../../sass/cards/_components.scss */
.card input[type=text]:active, .card textarea:active, .nav input[type=text]:active, .nav textarea:active {
  -webkit-box-shadow: 1px 1px 5px #999999;
  -moz-box-shadow: 1px 1px 5px #999999;
  box-shadow: 1px 1px 5px #999999;
}
/* line 335, ../../sass/cards/_components.scss */
.card input[type=text]:focus, .card textarea:focus, .nav input[type=text]:focus, .nav textarea:focus {
  border: solid 1px #999;
}
/* line 338, ../../sass/cards/_components.scss */
.card input[type=text]:disabled, .card textarea:disabled, .nav input[type=text]:disabled, .nav textarea:disabled {
  background-color: #eee;
}
/* line 343, ../../sass/cards/_components.scss */
.card button, .nav button {
  color: white;
  background-color: #d00239;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  font-size: 1.1em;
  border: solid 1px #d00239;
  padding: .4em .6em;
  cursor: pointer;
}
/* line 35, ../../sass/cards/_base.scss */
.card button a, .nav button a {
  color: white;
  font-weight: bold;
}
/* line 352, ../../sass/cards/_components.scss */
.card button.micro, .nav button.micro {
  font-size: .8em;
  padding: .1em .2em;
}
/* line 356, ../../sass/cards/_components.scss */
.card button.small, .nav button.small {
  font-size: .9em;
  padding: .2em .3em;
}
/* line 360, ../../sass/cards/_components.scss */
.card button.big, .nav button.big {
  font-size: 1.2em;
  padding: .5em .75em;
}
/* line 364, ../../sass/cards/_components.scss */
.card button:active, .card button:focus, .card button:hover, .nav button:active, .nav button:focus, .nav button:hover {
  border: solid 1px #520116;
}
/* line 367, ../../sass/cards/_components.scss */
.card button:disabled, .nav button:disabled {
  background-color: #fd5481;
  cursor: inherit;
}
/* line 373, ../../sass/cards/_components.scss */
.card textarea, .nav textarea {
  height: 10em;
  width: 300px;
}
/* line 376, ../../sass/cards/_components.scss */
.card textarea.micro, .nav textarea.micro {
  width: 75px;
  height: 2em;
}
/* line 380, ../../sass/cards/_components.scss */
.card textarea.mini, .nav textarea.mini {
  width: 150px;
  height: 4em;
}
/* line 384, ../../sass/cards/_components.scss */
.card textarea.small, .nav textarea.small {
  width: 200px;
  height: 8em;
}
/* line 388, ../../sass/cards/_components.scss */
.card textarea.big, .nav textarea.big {
  width: 500px;
  height: 15em;
}
/* line 416, ../../sass/cards/_components.scss */
.card input[type=text], .nav input[type=text] {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 398, ../../sass/cards/_components.scss */
.card input[type=text] ~ .ctrl, .nav input[type=text] ~ .ctrl {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid 1px #ccc;
  border-left-width: 0;
  width: 24px;
  height: 1.8em;
  padding: .1em;
  cursor: pointer;
  background-color: #eee;
}
/* line 410, ../../sass/cards/_components.scss */
.card input[type=text] ~ .ctrl:focus, .nav input[type=text] ~ .ctrl:focus {
  border: solid 1px #666;
}
/* line 422, ../../sass/cards/_components.scss */
.card input[type=text].search, .nav input[type=text].search {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 398, ../../sass/cards/_components.scss */
.card input[type=text].search ~ .ctrl, .nav input[type=text].search ~ .ctrl {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: solid 1px #ccc;
  border-left-width: 0;
  width: 24px;
  height: 1.8em;
  padding: .1em;
  cursor: pointer;
  background-color: #eee;
}
/* line 410, ../../sass/cards/_components.scss */
.card input[type=text].search ~ .ctrl:focus, .nav input[type=text].search ~ .ctrl:focus {
  border: solid 1px #666;
}
/* line 425, ../../sass/cards/_components.scss */
.card input[type=text].search ~ .ctrl, .nav input[type=text].search ~ .ctrl {
  background-image: url("../../../../tao/views/img/search_disabled.png");
  background-repeat: no-repeat;
  background-position: center;
}
