@import "inc/solar/mixins/bootstrap";

body.solar-design {
    #test-creator {
        .test-creator-test {
            & > h1 {
                color: var(--form-color);
                background: var(--form-background);
                font-size: var(--fontsize-heading-l);
                font-weight: bold;
                height: var(--label-height);
                line-height: var(--label-height);
                padding: 4px 48px;
                margin: 0;

                &:before {
                    left: 16px;
                    top: 4px;
                    height: var(--label-height);
                    line-height: var(--label-height);
                }
                .actions{
                    margin-right: 16px;
                    margin-top: 4px;
                }
                & > span:first-child {
                    height: var(--label-height);
                    line-height: var(--label-height);
                }
            }
            .test-content {
                padding: 16px 32px;
            }
            .testpart {
                border-radius: var(--radius-large);
                border: var(--border-thin) solid var(--color-border-default);

                & > h1 {
                    color: var(--form-color);
                    background: var(--form-background);
                    font-size: var(--fontsize-heading);
                    font-weight: bold;
                    margin: 0 0 8px 0;
                    border-radius: var(--radius-large) var(--radius-large) 0 0;
                    border: var(--border-thin) solid var(--color-border-default);
                }
            }
            .button-add {
                @include button-sd-setup();
                @include button-sd-font();
                @include button-sd-size();
            }
            [class^="btn-"], [class*=" btn-"], .button-add {
                @include button-sd-secondary();
            }
            .testpart-content {
                & > button {
                    border: none;
                }
            }
            .section {
                & > h2 {
                    color: var(--form-color);
                    background: var(--form-background);
                    font-size: var(--fontsize-heading);
                    font-weight: bold;
                }
            }
            .rublocks {
                h3 {
                    color: var(--form-color);
                    background: var(--form-background);
                    font-size: var(--fontsize-body-s);
                    font-weight: bold;
                }
                .rubricblocks {
                    & > li {
                        border: none;
                        border-radius: var(--radius-medium);
                        color: var(--form-color);
                        background: var(--sub-form-background);
                        padding: 8px;

                        .rubricblock-content {
                            border: none;
                            border-radius: 0;
                            background: var(--form-background);
                            padding: 0;
                            margin: 34px 0 0 0;

                            .container-editor {
                                font-size: var(--fontsize-body);
                                color: var(--input-color);
                                background: var(--input-background);
                                border: var(--border-thin) solid var(--input-border-color);
                                border-radius: 0;
                                padding: 8px;

                                &:focus, &:active {
                                    @include form-sd-focus();
                                }
                            }
                        }
                        .actions {
                            right: 3px;
                            top: 3px;
                        }
                    }
                }
            }
            .itemrefs-wrapper {
                border-radius: var(--radius-medium);
                border: var(--border-thin) solid var(--action-bar-border-color);

                h3 {
                    font-size: var(--fontsize-heading);
                    font-weight: bold;
                }
                .itemrefs {
                    & > li:nth-child(2n) {
                        background-color: var(--color-gs-light-alternative-bg);
                    }
                }
                .itemref-placeholder {
                    border: var(--border-thin) dashed var(--color-brand);
                    color : var(--color-brand);
                    background-color: var(--color-brand-light);
                    border-radius: var(--radius-medium);
                    font-size: var(--fontsize-body);

                    &:before {
                        font-size: var(--fontsize-body);
                    }
                    &:hover {
                        color: var(--form-color);
                        background: var(--color-gs-light-hover-bg);
                    }
                }
            }
        }
        .test-creator-items {
            border-right: var(--border-thin) solid var(--section-border-color);

            & > h1 {
                display: none;
            }
            .item-selection {
                height: calc(100% - var(--action-bar-height));
            }
        }
        .test-creator-props {
            color: var(--form-color);
            background: var(--form-background);

            .action-bar {
                display: none;
            }
            .props {
                height: calc(100% - var(--action-bar-height));
            }
            h1 {
                margin: 0;
                padding: 0;
                text-align: center;
                text-transform: uppercase;
                font-size: var(--fontsize-body-xs);
                font-weight: bold;
                line-height: var(--action-bar-height);
                height: var(--action-bar-height);
                background: var(--action-bar-background);
                color: var(--action-bar-color);
                border-bottom: var(--border-thin) solid var(--action-bar-border-color);

                &:before {
                    font-size: var(--fontsize-body-s);
                    margin-right: 8px;
                    line-height: var(--action-bar-height);
                }
            }
            h3 {
                color: var(--form-color);
                background: var(--form-background);
                font-size: var(--fontsize-heading);
                font-weight: bold;
                padding: 8px;
                margin: 0 0 16px 0;
            }
            h4 {
                color: var(--form-color);
                background: var(--form-background);
                font-size: var(--fontsize-heading);
                font-weight: bold;
                height: var(--label-height);
                line-height: var(--label-height);
                margin: 0;
                padding: 0 8px;
                border-top: var(--border-thin) solid var(--color-gs-light-secondary);

                &.toggler:after {
                    right: 16px;
                    top: 8px;
                    font-weight: bold;
                    font-size: var(--fontsize-heading-l);
                    margin: 0;
                }
            }
            .props, form, h4 ~ div, .categories {
                & > .grid-row {
                    position: relative;
                    padding: 0 16px;
                    margin: 0 0 16px 0;

                    [class*=" col-"], [class^="col-"] {
                        float: none;
                        margin: 0;
                        width: auto;
                    }
                }
            }
            [class^="category-preset-"], [class*=" category-preset-"] {
                & > .grid-row {
                    [class*=" col-"], [class^="col-"] {
                        float: left;
                    }
                }
            }
            .grid-row.checkbox-row {
                .col-5 {
                    padding-left: var(--input-height);
                }
                .col-6 {
                    position: absolute;
                    top: 0;
                    left: 16px;
                }
            }
            .itemref-weights {
                & .grid-row, &.grid-row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0 0 0 8px;
                    margin: 0;

                    [class*=" col-"], [class^="col-"] {
                        float: left;
                        margin-bottom: 0;
                    }
                    .col-9 {
                        width: 75%;
                    }
                    .col-2 {
                        width: 15%;
                    }
                    .col-1 {
                        position: static;
                        width: var(--label-height);

                        a {
                            display: inline-block;
                            width: var(--label-height);
                            height: var(--label-height);
                            line-height: var(--label-height);
                            text-align: center;
                            margin: 0;
                            color: var(--input-color);

                            &:hover {
                                color: var(--input-color);
                                background: var(--color-bg-actionable-secondary-hover);
                                text-decoration: none;
                            }
                        }
                    }
                    .col-12 {
                        width: 100%;
                        text-align: end;
                    }
                }
                .itemref-weight-add {
                    @include button-sd-setup();
                    @include button-sd-font();
                    @include button-sd-size();
                    @include button-sd-secondary();
                    margin: 16px auto;
                    display: inline-block;

                    &:hover {
                        text-decoration: none;
                    }
                    [class^="icon-"], [class*=" icon-"] {
                        font-size: var(--fontsize-body);
                        margin-inline-end: 8px;
                    }
                }
            }
            label, .help, .pseudo-label-box > div.col-5:first-of-type {
                @include form-sd-label();
                display: block;
                font-weight: normal;
                margin: 0;
                height: var(--label-height);
                line-height: var(--label-height);
            }
            .help {
                position: absolute;
                top: 0;
                right: 16px;

                [class^="icon-"], [class*=" icon-"] {
                    display: inline-block;
                    width: var(--label-height);
                    height: var(--label-height);
                    line-height: var(--label-height);
                    text-align: center;
                    margin: 0;

                    &:hover {
                        background: var(--color-bg-actionable-secondary-hover);
                    }
                }
                .tooltip[role="tooltip"] {
                    line-height: 1.5;
                    font-size: var(--fontsize-body-xs);
                    border-radius: 0;
                    border: var(--border-thin) solid var(--feedback-info-border-color);
                    background-color: var(--feedback-info-background);
                    color: var(--color-text-default);
                    padding: 8px 16px;
                }
            }
            abbr {
                color: var(--input-color);
                border: none;
                text-decoration: none;
            }
            .col-6 {
                & > input[type="color"],
                & > input[type="date"],
                & > input[type="datetime"],
                & > input[type="datetime-local"],
                & > input[type="email"],
                & > input[type="month"],
                & > input[type="number"],
                & > input[type="range"],
                & > input[type="search"],
                & > input[type="tel"],
                & > input[type="time"],
                & > input[type="text"],
                & > input[type="password"],
                & > input[type="url"],
                & > input[type="week"],
                & > textarea,
                & > select {
                    @include form-sd-input();
                }
            }
            .btn-info {
                @include button-sd-secondary();
            }
            .duration-ctrl-wrapper, .incrementer-ctrl-wrapper {
                .incrementer {
                    padding-right: 16px;
                    padding-left: 0;
                }
                input[type="text"] {
                    height: var(--input-height);
                    width: calc(var(--input-height) + 16px) !important;
                    min-width: var(--input-height) !important;

                    &, &:focus, &:active {
                        border: 0;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
            .grid-row {
                position: relative;
                padding: 0;

                .header {
                    font-size: var(--fontsize-body-s);
                    font-weight: 700;
                    color: var(--datatable-color);
                    background: var(--datatable-background);
                    border-bottom: var(--border-thin) solid var(--datatable-header-border-color);
                    line-height: var(--datatable-line-height);
                    padding: 0 8px;
                    margin: 0;
                }
                .line {
                    font-size: var(--fontsize-body-s);
                    color: var(--datatable-color);
                    background: var(--datatable-background);
                    border-bottom: var(--border-thin) solid var(--datatable-row-border-color);
                    line-height: var(--datatable-line-height);
                    padding: 2px 8px;
                    margin: 0;
                }
            }
        }
    }
}
